<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="${rootArtifactId}" version="3.0">

    <display-name>MKS - ${rootArtifactId}</display-name>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
        <param-value>br.com.streamsoft.framework.base.resolver.ClassPathResolver</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- FILTRO DE SEGURANÇA DO FRAMEWORK -->
    <!-- DOCUMENTÇÃO EM: http://10.13.30.148:8070/confluence/pages/viewpage.action?pageId=2588699 -->
    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>br.com.streamsoft.framework.base.filter.SecurityFilterImpl</filter-class>
        <init-param>
            <param-name>userParameterName</param-name>
            <param-value>user</param-value>
        </init-param>
        <init-param>
            <param-name>logParameterName</param-name>
            <param-value>log</param-value>
        </init-param>
        <init-param>
            <param-name>validateSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>forceUTF8CharSet</filter-name>
        <filter-class>br.com.streamsoft.framework.base.filter.impl.CharacterEncodingFilterImpl
        </filter-class>
    </filter>

    <!-- FILTRO DE SEGURANÇA DO SSO -->
    <!-- DOCUMENTÇÃO EM: http://10.13.30.148:8070/confluence/pages/viewpage.action?pageId=2818050 
	<filter>
		<filter-name>Agent</filter-name>
		<display-name>Agent</display-name>
		<filter-class>com.sun.identity.agents.filter.AmAgentFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Agent</filter-name>
		
		<url-pattern>/sample/*</url-pattern>
		<url-pattern>/cadastros/*</url-pattern>
		<url-pattern>/consultas/*</url-pattern>
		<url-pattern>/relatorios/*</url-pattern>
		<url-pattern>/webservices/*</url-pattern>
		
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	-->


    <filter-mapping>
        <filter-name>forceUTF8CharSet</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Pretty Filter</filter-name>
        <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>Security Filter</filter-name>

        <url-pattern>/sample/*</url-pattern>
        <url-pattern>/cadastros/*</url-pattern>
        <url-pattern>/consultas/*</url-pattern>
        <url-pattern>/relatorios/*</url-pattern>
        <url-pattern>/webservices/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Pretty Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>401</error-code>
        <location>/error/error401.jsf</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/error401.jsf</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error500.jsf</location>
    </error-page>

    <!-- JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
</web-app>